@import "components/variables";

main {
  margin-top: 6%;
}

body {
  position: relative;
}

.container {
  height: 100vh;
  text-align: center;
  .photo {
    margin: 2%;
  }
}

.container1 {
  margin-bottom: 10%;
  padding: 0 3%;
  .projects{
    margin-bottom: 5%;
    text-align: center;
  }
  .alfa , .tinkoff , .hermes , .chanel , .versace {
    text-align: center;
  }
  .alfa-logo, .tinkoff-logo, .hermes-logo, .chanel-logo, .versace-logo {
    margin: 5%;
  }
}

.container2 {
  margin-bottom: 10%;
  .js , .css , .html , .react {
    text-align: center;
  }
  .tech {
    margin-bottom: 5%;
    text-align: center;
  }
}

.container3 {
  margin-bottom: 20%;
  text-align: center;
  .link {
    color: $color_black;
    font-size: 25px;
  }
  .profiles{
    margin-bottom: 5%;
    text-align: center;
  }
}

@media (max-width: $screen-sm) {
  .big-text {
    font-size: 20px;
  }
  .small-text, .link {
    font-size: 15px;
  }
  .container {
    margin-top: 16%;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md)  {
  .big-text {
    font-size: 30px;
  }
  .small-text, .link {
    font-size: 20px;
  }
  .container {
    margin-top: 10%;
  }
}
